* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 
  
body { 
    font-family: Arial, sans-serif; 
    background-color: #D3D3D3; 
} 
  
  
h1 { 
    font-size:20rem; 
    color: #120705; 
} 
p{
    font-size:3rem; 
    font-style: asteron;
    color: #120705; 

}
  
h3 { 
    font-size: 1.5rem; 
    color: #333; 
    margin-bottom: 20px; 
} 
  
a { 
    text-decoration: none; 
    background-color: #120705; 
    color: #fff; 
    padding: 10px 20px; 
    border-radius: 20px; 
    font-weight: bold; 
    transition: background-color 0.3s ease; 
} 
  
a:hover { 
    background-color: #120705; 
}

        
.navbar {
  overflow: hidden;
  background-color: #333; 
}


.navbar a {
  float: left; 
  display: block; 
  color: #f2f2f2; 
  text-align: center; 
  text-decoration: none; 
}


.navbar a:hover {
  background-color: #ddd; 
  color: #333; 
}
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('bg.jpeg'); /* Replace 'your-image.jpg' with your image path */
    background-size: cover;
    background-position: center;
    opacity: 0.6; /* Adjust the opacity value for the desired fade effect */
    z-index: -1; 
  }
